body {
    background-color: #f9f9f9;  
    font-family: sans-serif;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #606060;
}

.welcome {
    font-size: 20px;
    text-align: center;
    min-height: 400px;        
}

.welcome img {
    height: 45px;
}

.welcome span {
    padding: 10px;
}

#tblGrid
{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: solid 1px #e0e0e0;	  	
    border-spacing: 0px;	  
    cursor: default;
    background-color: #ffffff;
}

#tblGrid td {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#divTimer {
    width: 30px;
    background-color: #A9E2F3;
}

li {
    list-style-type: none;
    padding: 3px;
}

.msgResult
{
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
}