body {
    background-color: #f9f9f9;  
    font-family: Verdana, sans-serif;
    color: #303030;
}

header {
    text-align: center;
    font-size: 24px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #606060;
    position:fixed;
    bottom:10px;
    left:0px;
    right:0px;    
}

.welcome {
    font-size: 16px;
    text-align: center;
    min-height: 400px;        
}

.welcome img {
    height: 20px;
}

.welcome span {
    padding: 10px;
}

#tblGrid
{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: solid 1px #e0e0e0;	  	
    border-spacing: 0px;	  
    cursor: default;
    background-color: #ffffff;
}

#tblGrid td {
    
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#divTimer {
    width: 30px;
    background-color: #A9E2F3;
}

li {
    list-style-type: none;
    padding: 4px;
}

li > a {
    text-decoration: none;
    color: #333333;
}

li > a:hover {
    color: #3366cc;
}

.wordFound {
    background-color: #D1FFB3;
}

.msgResult
{
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
}

.languageBar {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.languageBar img {
    height: 15px;
}

